* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.my-tags {
  display: flex;
  justify-content: space-around;
}

.my-tags-item {
  border: 2px red solid;
}

.nav {
  border: 2px red solid;
  margin: 10px;
}
